.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
      }

body{
    background-color: rgb(10, 109, 10);
}

.text {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    image-rendering: center;
}

.downtext {
    color: aliceblue;
}
a {
    color: white;
    text-decoration: none
}

.version_website {
    color:darkslategray;
    font-size: x-small;
}



/* margin-left: 34%;
margin-top: 10px;