.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
      }

.gtext {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.text {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    image-rendering: center;
}

a {
    color: white;
    text-decoration: none
}

.version_website {
    color:darkslategray;
    font-size: x-small;
}

.animated-button:hover {
    transform: scale(1.1); /* Увеличение */
    }

.animated-button {
    padding: 20px 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 20px solid black;
    font-size: 90px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    }

body {
        background:
        linear-gradient(-45deg, #ff0000, #000000, #0000ff);
        background-size: 400% 400%;
        height: 100vh;
        animation: gradient 20s ease infinite;
    }

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #556854d0;
    text-align: center;
    border-radius: 10px;
}

.box:hover {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #556854d0;
    box-shadow: 1px 1px 15px 1px black;
    transition: 1s;
}

.but {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #004400;
  transition: 0.5s;
}
          
@keyframes gradient {
        0% {
            background-position: 0% 50%;
            }
        50% {
            background-position: 100% 50%;
            }
        100% {
            background-position: 0% 50%;
            }
          }
