body{
    background-color: rgb(10, 109, 10);
}

.text {
    font-size: 60px;
}

img {
    margin-left: 34%;
    margin-top: 10px;
}

.downtext {
    color: aliceblue;
}
a {
    color: white;
    text-decoration: none
}